.app.dark {
    background-color: #222;
    color: gray;

    .nav {
        .search {
            input {
                color: gray;
            }
        }
    }
        .list {
        background-color: #222 ;
     .tableCell {
        color: gray;
     }
    }
    .side {
        li {
            background-color: transparent;
            transition: 0.3s;

            &:hover {
                background-color: rgb(44, 44, 44);
            }

            &:hover span {
                color: gray;
            }
            &:hover .icon {
                color: gray;
            }
            
        }
        .top {
            color: gray;
        }
        
        
        .icon {
            color: gray;
        }
    }

    .datatable {
        .dataTitle {
            button {
                transition: 0.5s;
                color: black;
                background-color: gray;
                border: none;
                &:hover {
                    background-color: black;
                    color: gray;
                }
            }
        }
        
        .myTable {
            color: gray;
            
        }
        .deleteButton,.viewButton {
            color: black;
            background-color: gray;
          border: none;
            transition: 0.5s;
            &:hover {
                background-color: black;
                color: gray;
            }

            &:hover::after {
                display: none;
            }
        }
       
    }

    .single {
        .edit {
            color: gray;
            background-color:transparent;
            &:hover {
               
                color: white;
                background-color: transparent;
               
            }
        }
    }

    .new {
        .formInput {
            color: rgb(179, 178, 178);
        }
        input {
            color: gray;
            background-color: transparent;
            &::placeholder {
                color: rgb(221, 218, 218);
                font-size: 0.6rem;
            }
        }
    }

    .login,.signup {
        form {
            box-shadow: 1px 1px 4px 1px gray,-1px -1px 4px 1px gray;
            background-color: rgb(20, 20, 20);
            input {
                border-bottom: 1px solid gray;
                background-color: transparent;
                color: gray;
                &::placeholder {
                    color: gray
                }
            }
            button {
                background-color: #222;
                color: gray;
                border: 1px solid gray;
            }
        }
    }

}