.nav {
    height: 50px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    color: gray;
    margin-bottom: 20px;


    .search {
        display: flex;
        align-items: center;
        padding: 3px;
        border: 0.5px solid lightgray;
        input {
            border: none;
            outline: none;
            background-color: transparent;
        }
    }

    .items {
        display: flex;
        align-items: center;
        .item {display: flex;
        align-items: center;
    cursor: pointer;
    position: relative;
    .avatar {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
    }
    .bubble {
        position: absolute;
        background-color: red;
        color: white;
        font-size: 10px;
        font-weight: bold;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        top: -5px;
        right: -5px;
    }
    }
        .item:not(:last-child){
            margin-right: 25px;
        }
       
    }
}